#timer {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
 #score-container {
  display: none;
  text-align: center;
  }
  
  #score-container h2,
  #score-container p {
    color: #333;
  }
  
  #initials-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  label {
    margin-right: 10px;
    color: #333;
    font-weight: bold;
  }
  
  input[type="text"] {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: darkblue;
  }
  
  button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: darkblue;
  }
